# Projeto estatística

### Aluno: Heitor Brunini Araújo Barbosa

### QUESTÃO 1:

In [9]:
import pandas as pd
import numpy as np
dfu=pd.read_csv('https://raw.githubusercontent.com/heitorbrunini/projeto-estatisca/main/datatran2019.csv',sep=';',encoding='latin-1')
dfd=pd.read_csv('https://raw.githubusercontent.com/heitorbrunini/projeto-estatisca/main/datatran2020.csv',sep=';',encoding='latin-1')

### QUESTÃO 2:

LETRA A:

In [10]:
print(dfu.info())
print('---------------------------------------')
print(dfd.info())
#sabendo que cada linha é um acidente, é possível afirmar por df.info() que:
#ocorreram 67446 acidentes no ano de 2019
#ocorreram 63447 acidentes no ano de 2020

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67446 entries, 0 to 67445
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      67446 non-null  float64
 1   data_inversa            67446 non-null  object
 2   dia_semana              67446 non-null  object
 3   horario                 67446 non-null  object
 4   uf                      67446 non-null  object
 5   br                      67351 non-null  float64
 6   km                      67351 non-null  object
 7   municipio               67446 non-null  object
 8   causa_acidente          67446 non-null  object
 9   tipo_acidente           67446 non-null  object
 10  classificacao_acidente  67446 non-null  object
 11  fase_dia                67446 non-null  object
 12  sentido_via             67446 non-null  object
 13  condicao_metereologica  67446 non-null  object
 14  tipo_pista              67446 non-null  object
 15  tracado_via             67446 non-null  object
 16  uso_solo                67446 non-null  object
 17  pessoas                 67446 non-null  int64
 18  mortos                  67446 non-null  int64
 19  feridos_leves           67446 non-null  int64
 20  feridos_graves          67446 non-null  int64
 21  ilesos                  67446 non-null  int64
 22  ignorados               67446 non-null  int64
 23  feridos                 67446 non-null  int64
 24  veiculos                67446 non-null  int64
 25  latitude                67446 non-null  object
 26  longitude               67446 non-null  object
 27  regional                67446 non-null  object
 28  delegacia               67446 non-null  object
 29  uop                     64006 non-null  object
dtypes: float64(2), int64(8), object(20)
memory usage: 15.4+ MB
None
---------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63447 entries, 0 to 63446
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      63447 non-null  float64
 1   data_inversa            63447 non-null  object
 2   dia_semana              63447 non-null  object
 3   horario                 63447 non-null  object
 4   uf                      63447 non-null  object
 5   br                      63292 non-null  float64
 6   km                      63292 non-null  object
 7   municipio               63447 non-null  object
 8   causa_acidente          63447 non-null  object
 9   tipo_acidente           63447 non-null  object
 10  classificacao_acidente  63447 non-null  object
 11  fase_dia                63447 non-null  object
 12  sentido_via             63447 non-null  object
 13  condicao_metereologica  63447 non-null  object
 14  tipo_pista              63447 non-null  object
 15  tracado_via             63447 non-null  object
 16  uso_solo                63447 non-null  object
 17  pessoas                 63447 non-null  int64
 18  mortos                  63447 non-null  int64
 19  feridos_leves           63447 non-null  int64
 20  feridos_graves          63447 non-null  int64
 21  ilesos                  63447 non-null  int64
 22  ignorados               63447 non-null  int64
 23  feridos                 63447 non-null  int64
 24  veiculos                63447 non-null  int64
 25  latitude                63447 non-null  object
 26  longitude               63447 non-null  object
 27  regional                63447 non-null  object
 28  delegacia               63447 non-null  object
 29  uop                     63048 non-null  object
dtypes: float64(2), int64(8), object(20)
memory usage: 14.5+ MB
None

LETRA B:

In [54]:
#30 variáveis (Colunas)

LETRA C

In [4]:
m=pd.DataFrame(dfu['municipio']) #criando um dataframe apenas com os municípios
m=m.value_counts() #contanto os múnicipios que tem valor igual
m.head(5) #pegando os 5 primeiros termos podemos afirmar que

#as cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais em 2019 são:
#Curitiba, Brasilia, São José. Guarulhos e Serra

municipio
CURITIBA     1094
BRASILIA     1090
SAO JOSE      819
GUARULHOS     717
SERRA         633
dtype: int64

In [5]:
m=pd.DataFrame(dfd['municipio'])  #criando um dataframe apenas com os municípios
m=m.value_counts()#contanto os múnicipios que tem valor igual
m.head(5)#pegando os 5 primeiros termos podemos afirmar que 

#as cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais em 2020 são:
#Brasilia, Curitiba, Guarulhos, São José. Palhoça

municipio
BRASILIA     1040
CURITIBA      945
GUARULHOS     639
SAO JOSE      629
PALHOCA       593
dtype: int64

LETRA D:

In [9]:
pb = dfu[dfu['uf'] == 'PB'] #pegando apenas os valores 'PB' da coluna 'uf'
pb = pb[pb['feridos_graves']>0] # pegando apenas os valores maiores que 0 da coluna 'feridos_graves'
pb.info() # sabendo que cada linha é um acidente, podemos afirmar que:

#ocorreram 414 acidentes com feridos graves na Paraíba no ano de 2019

<class 'pandas.core.frame.DataFrame'>
Int64Index: 414 entries, 47 to 67050
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      414 non-null    float64
 1   data_inversa            414 non-null    object
 2   dia_semana              414 non-null    object
 3   horario                 414 non-null    object
 4   uf                      414 non-null    object
 5   br                      414 non-null    float64
 6   km                      414 non-null    object
 7   municipio               414 non-null    object
 8   causa_acidente          414 non-null    object
 9   tipo_acidente           414 non-null    object
 10  classificacao_acidente  414 non-null    object
 11  fase_dia                414 non-null    object
 12  sentido_via             414 non-null    object
 13  condicao_metereologica  414 non-null    object
 14  tipo_pista              414 non-null    object
 15  tracado_via             414 non-null    object
 16  uso_solo                414 non-null    object
 17  pessoas                 414 non-null    int64
 18  mortos                  414 non-null    int64
 19  feridos_leves           414 non-null    int64
 20  feridos_graves          414 non-null    int64
 21  ilesos                  414 non-null    int64
 22  ignorados               414 non-null    int64
 23  feridos                 414 non-null    int64
 24  veiculos                414 non-null    int64
 25  latitude                414 non-null    object
 26  longitude               414 non-null    object
 27  regional                414 non-null    object
 28  delegacia               414 non-null    object
 29  uop                     414 non-null    object
dtypes: float64(2), int64(8), object(20)
memory usage: 100.3+ KB

### QUESTÃO 3

LETRA A:

In [21]:
rku=pd.DataFrame(dfu['uf']) #pegando apenas a coluna 'UF'
rku=pd.Series(rku.value_counts()) #contando os valores iguais, podemos criar um ranking

rkd=pd.DataFrame(dfd['uf']) #pegando apenas a coluna 'UF'
rkd=pd.Series(rkd.value_counts())#contando os valores iguais, podemos criar um ranking
dic={'2019':rku,
    '2020':rkd,
    'Total':rku+rkd
};x=pd.DataFrame(dic)#criando nosso data frame

x=x.sort_values(['2019','2020','Total'], ascending=False)#organizando os valores começando pelo maior
x.to_csv('acidentesporUF.csv')#transformando nosso dataframe em um CSV

LETRA B:

In [22]:
du=pd.DataFrame(dfu['dia_semana']) #pegando apenas a coluna 'UF'
du=du.value_counts() #contando os valores iguais, podemos criar um ranking

dd=pd.DataFrame(dfd['dia_semana']) #pegando apenas a coluna 'UF'
dd=dd.value_counts() #contando os valores iguais, podemos criar um ranking

dic={'2019':du,
    '2020':dd,
    'Total':du+dd
};x=pd.DataFrame(dic)#criando nosso data frame

x=x.sort_values(['2019','2020','Total'], ascending=False)#organizando os valores começando pelo maior
x.to_csv('acidentesporDia.csv')#transformando nosso dataframe em um CSV

### QUESTÃO 4

LETRA A:

In [10]:
c2019=pd.DataFrame(dfu['causa_acidente']) # criamos uma coluna com as causas dos acidentes
c2019=c2019.value_counts() # contamos os valores repetidos, assim formando um ranking
print(c2019.head(1)) #pegamos o primeiro colocado
#maior causa 2019: Falta de Atenção à Condução
print(c2019.tail(1)) #pegamos o último colocado
#menor causa 2019: Ingestão de Substâncias Psicoativas

print('---------------------------------------')

c2020=pd.DataFrame(dfd['causa_acidente'])# criamos uma coluna com as causas dos acidentes
c2020=c2020.value_counts() # contamos os valores repetidos, assim formando um ranking
print(c2020.head(1)) #pegamos o primeiro colocado
#maior causa 2020: Falta de Atenção à Condução
print(c2020.tail(10)) #pegamos os últimos colocados
#menores causas 2020: Frear bruscamente 
#Acumulo de óleo sobre o pavimento 
#afundamento ou ondulação no pavimento                             
#Pedestre cruzava a pista fora da faixa                            
#Acumulo de água sobre o pavimento                                 
#Condutor usando celular                                           
#Trafegar com motocicleta (ou similar) entre as faixas             
#Ausência de sinalização                                           
#Ingestão de álcool ou de substâncias psicoativas pelo pedestre    
#Acostamento em desnível

causa_acidente
Falta de Atenção à Condução    24992
dtype: int64
causa_acidente
Ingestão de Substâncias Psicoativas    94
dtype: int64
---------------------------------------
causa_acidente
Falta de Atenção à Condução    22414
dtype: int64
causa_acidente
Acumulo de óleo sobre o pavimento                                 1
Afundamento ou ondulação no pavimento                             1
Pedestre cruzava a pista fora da faixa                            1
Acumulo de água sobre o pavimento                                 1
Condutor usando celular                                           1
Trafegar com motocicleta (ou similar) entre as faixas             1
Ausência de sinalização                                           1
Ingestão de álcool ou de substâncias psicoativas pelo pedestre    1
Acostamento em desnível                                           1
Frear bruscamente                                                 1
dtype: int64

LETRA B:

In [4]:
x2019=dfu[["data_inversa","feridos_graves","ilesos","pessoas"]].groupby(["data_inversa"]).sum()
#primeiro criamos um data frame agrupado pela "data_inversa", somando todas as datas semelhantes
#em ambos os anos
x2020=dfd[["data_inversa","feridos_graves","ilesos","pessoas"]].groupby(["data_inversa"]).sum()

#aqui fica o coração do código, vamos ver como funciona
def flamengo (x): # criamos uma função que vai ser utilizada em um Data frame X
    z=x.index    #sabendo que o index do data frame são as datas, criamos uma lista pra esses indices
    lista_feridos=[0,0,0,0,0,0,0,0,0,0,0,0]
    lista_ilesos=[0,0,0,0,0,0,0,0,0,0,0,0] # aqui alocamos o espaço para adicionarmos os valores
    lista_total=[0,0,0,0,0,0,0,0,0,0,0,0]  # dos feridos, ilesos e total de pessoas envolvidas
    
    for i in z: # criamos um for percorrendo a lista de indices que fizemos
        n=i.split('-') # sabendo que o indice tem formato [20xx-xx-xx] quebramos essa lista pelo '-'
        if n[1]=='01': # assim podemos definir o mês que estamos percorrendo pelo valor do meio
            # ex: i= ['2019-01-01'], n=['2019','01',01']: mês 01, janeiro
            lista_feridos[0]+=x.loc[i]['feridos_graves']
            lista_total[0]+=x.loc[i]['pessoas'] #então para finalizar só precisamos somar valor na lista 
            lista_ilesos[0]+=x.loc[i]['ilesos'] #que haviamos alocado espaço pra cada mês
        elif n[1]=='02':
            lista_feridos[1]+=x.loc[i]['feridos_graves']
            lista_total[1]+=x.loc[i]['pessoas']
            lista_ilesos[1]+=x.loc[i]['ilesos']
        elif n[1]=='03':
            lista_feridos[2]+=x.loc[i]['feridos_graves']
            lista_total[2]+=x.loc[i]['pessoas']
            lista_ilesos[2]+=x.loc[i]['ilesos']
        elif n[1]=='04':
            lista_feridos[3]+=x.loc[i]['feridos_graves']
            lista_total[3]+=x.loc[i]['pessoas']
            lista_ilesos[3]+=x.loc[i]['ilesos']
        elif n[1]=='05':
            lista_feridos[4]+=x.loc[i]['feridos_graves']
            lista_total[4]+=x.loc[i]['pessoas']
            lista_ilesos[4]+=x.loc[i]['ilesos']
        elif n[1]=='06':
            lista_feridos[5]+=x.loc[i]['feridos_graves']
            lista_total[5]+=x.loc[i]['pessoas']
            lista_ilesos[5]+=x.loc[i]['ilesos']
        elif n[1]=='07':
            lista_feridos[6]+=x.loc[i]['feridos_graves']
            lista_total[6]+=x.loc[i]['pessoas']
            lista_ilesos[6]+=x.loc[i]['ilesos']
        elif n[1]=='08':
            lista_feridos[7]+=x.loc[i]['feridos_graves']
            lista_total[7]+=x.loc[i]['pessoas']
            lista_ilesos[7]+=x.loc[i]['ilesos']
        elif n[1]=='09':
            lista_feridos[8]+=x.loc[i]['feridos_graves']
            lista_total[8]+=x.loc[i]['pessoas']
            lista_ilesos[8]+=x.loc[i]['ilesos']
        elif n[1]=='10':
            lista_feridos[9]+=x.loc[i]['feridos_graves']
            lista_total[9]+=x.loc[i]['pessoas']
            lista_ilesos[9]+=x.loc[i]['ilesos']
        elif n[1]=='11':
            lista_feridos[10]+=x.loc[i]['feridos_graves']
            lista_total[10]+=x.loc[i]['pessoas']
            lista_ilesos[10]+=x.loc[i]['ilesos']
        elif n[1]=='12':
            lista_feridos[11]+=x.loc[i]['feridos_graves']
            lista_total[11]+=x.loc[i]['pessoas'] 
            lista_ilesos[11]+=x.loc[i]['ilesos']
    listas=[lista_feridos,lista_total,lista_ilesos]
    return listas #retornamos uma matriz com a lista de feridos, total de pessoas e ilesos


mediag2019=[];mediai2019=[]#criamos uma lista para alocar a média de feridos_graves/pessoas e ilesos/pessoas
listas2019=flamengo(x2019)#chamando a função que nos criamos
lista_feridos2019=listas2019[0]
lista_total2019=listas2019[1]   #atribuimos as listas a seus respectivos valores na matriz listas20xx
lista_ilesos2019=listas2019[2]

mediag2020=[];mediai2020=[]
listas2020=flamengo(x2020)
lista_feridos2020=listas2020[0]
lista_total2020=listas2020[1]
lista_ilesos2020=listas2020[2]

for i in range(12): #alocamos valores as listas das médias feridos_graves/pessoas e ilesos/pessoas
    mediag2019.append('%.2f'%((lista_feridos2019[i]/lista_total2019[i])*100))
    mediai2019.append('%.2f'%((lista_ilesos2019[i]/lista_total2019[i])*100))
    mediag2020.append('%.2f'%((lista_feridos2020[i]/lista_total2020[i])*100))
    mediai2020.append('%.2f'%((lista_ilesos2020[i]/lista_total2020[i])*100))
meses=['Janeiro %','Fevereiro %','Março %','Abril %','Maio %','Junho %',
       'Julho %','Agosto %','Setembro %','Outubro %','Novembro %','Dezembro %']#índices para o df final
dat={'Graves-2019':mediag2019,
     'Ilesos-2019':mediai2019, # criamos o diciońario para o df final
     'Graves-2020':mediag2020,
     'Ilesos-2020':mediai2020
    }
fim=pd.DataFrame(dat,index=meses) # e por fim, criamos o data frame com as médias percentuais
fim

            Graves-2019 Ilesos-2019 Graves-2020 Ilesos-2020
Janeiro %         11.33       42.42       10.75       41.56
Fevereiro %       10.68       42.41       11.14       42.00
Março %           11.46       43.32       11.24       40.10
Abril %           10.60       41.57       11.78       37.65
Maio %            12.08       41.52       11.58       40.13
Junho %           12.16       42.38       11.59       42.35
Julho %           11.67       43.68       10.85       42.45
Agosto %          11.67       41.31       11.89       42.35
Setembro %        11.07       42.11       11.73       41.64
Outubro %         11.98       41.89       11.95       41.12
Novembro %        11.10       42.58       12.01       40.77
Dezembro %        11.44       42.23       12.17       41.25

LETRA C

In [7]:
data2019=pd.Series(dfu["br"].value_counts())# criamos uma Serie com a coluna BR dos nossos dataframes
data2020=pd.Series(dfd["br"].value_counts())# e contamos os valores de 'br' igual
compara= data2020 - data2019 # fazemos a diferença entre os acidentes de 2020 e 2019 para saber o aumento
                            # de acidentes em 2020 com relação a 2019
dic={ #criamos um dicionário para fazer nosso data frame final
    'total acidentes 2019':data2019,
    'total acidentes 2020':data2020,
    'aumento de acidentes':compara
}
idx=data2019.index # determinamos que o índice será 'br'
dft=pd.DataFrame(dic,index=idx);dft.index.name = 'BR' # criamos o data frame e nomeamos o índice de BR
dft['aumento de acidentes'].fillna(0, inplace=True) # preenchendo valores Not a Number com 0
dft['total acidentes 2020'].fillna(0, inplace=True)
dft['total acidentes 2020']=dft['total acidentes 2020'].apply(int)#formatamos a coluna para inteiros

# aqui podemos ver o aumento de acidentes em cada Br 
print('Comparação total de acidentes por BR, 2020 em relação a 2019\n')
print(dft)
print('---------------------------------------------------------')
# aqui podemos ver o aumento de acidentes no total 
print('Comparação total de acidentes, 2020 em relação a 2019\n')
print(dft.sum())
#é possível dizer que o total de acidentes por BR teve um aumento negativo, ou seja
#diminuição da quantidade de acidentes

Comparação total de acidentes por BR, 2020 em relação a 2019

       total acidentes 2019  total acidentes 2020  aumento de acidentes
BR
101.0                 11355                 10525                -830.0
116.0                  9604                  9138                -466.0
381.0                  3274                  3031                -243.0
40.0                   3244                  3015                -229.0
153.0                  2611                  2544                 -67.0
...                     ...                   ...                   ...
383.0                     1                     0                   0.0
403.0                     1                     5                   4.0
342.0                     1                     0                   0.0
422.0                     1                     1                   0.0
120.0                     1                     0                   0.0

[115 rows x 3 columns]
---------------------------------------------------------
Comparação total de acidentes, 2020 em relação a 2019

total acidentes 2019    67351.0
total acidentes 2020    63283.0
aumento de acidentes    -4063.0
dtype: float64